<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>  
<!-- Creating tabs and table in each tab-->
<div>
  <ngb-tabset>
    <ngb-tab title="View All Customers">
      <ng-template ngbTabContent>
          <form [formGroup]="form" (ngSubmit)="submit()">
              <label for="orders">Search Filter</label>
              <select formControlName="orders" id="orders">
                <option *ngFor="let order of orders; let i = index" [value]="orders[i].id">
                  {{orders[i].name}}
                </option>
              </select>
              <input type="text" formControlName= "search">
              <button>submit</button>
          </form>

      <table class="table">
          <thead class="thead-lig  ht">
            <tr>
              <th *ngFor="let column of columns" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers" >
              <td>{{customer.name}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.dateOfWork}}</td>
              <td>{{customer.technicianName}}</td>
              <td>
                <ng-template #popContent class="ml-3">
                  <div class="m-3">
                    <b>Customer Name:</b> {{customer.name}}<br/>
                    <b>Customer Contact:</b> {{customer.phoneNumber}} <br/>
                    <b>Customer Address:</b> {{customer.address}} <br/>
                    <b>Model Name:</b> {{customer.modelName}} <br/>
                    <b>Date of work:</b> {{customer.dateOfWork}} <br/>
                    <b>Technician Name:</b> {{customer.technicianName}} <br/>
                    <div *ngIf = "customer.partCCV > 0">
                        <b>CVV:</b> {{customer.partCCV}}<br/>
                    </div>
                    <div *ngIf = "customer.partSedimentalfilter > 0">
                        <b>Sedimentalfilter:</b> {{customer.partSedimentalfilter}}<br/>
                    </div>
                    <div *ngIf = "customer.partCarbonfilter > 0">
                        <b>Carbonfilter:</b> {{customer.partCarbonfilter}}<br/>
                    </div>
                    <div *ngIf = "customer.partROMembrane > 0">
                        <b>ROMembrane:</b> {{customer.partROMembrane}}<br/>
                    </div>
                    <div *ngIf = "customer.partMultilayer > 0">
                        <b>Multilayer:</b> {{customer.partMultilayer}}<br/>
                    </div>
                    <div *ngIf = "customer.partPPSpun > 0">
                        <b>PPSpun </b>: {{customer.partPPSpun}}<br/>
                    </div>
                    <div *ngIf = "customer.partPump > 0">
                        <b>Pump:</b> {{customer.partPump}}<br/>
                    </div>
                    <div *ngIf = "customer.partSV > 0">
                        <b>SV:</b> {{customer.partSV}}<br/>
                    </div>
                    <div *ngIf = "customer.partSMPS > 0">
                        <b>SMPS:</b> {{customer.partSMPS}}<br/>
                    </div>
                    <div *ngIf = "customer.partVVLamp > 0">
                        <b>VVLamp:</b> {{customer.partVVLamp}}<br/>
                    </div>
                    <div *ngIf = "customer.partService > 0">
                        <b>Service:</b> {{customer.partService}}<br/>
                    </div>
                    <b>isAmc:</b> {{customer.isAmc}}<br/>
                    <b>amcDate:</b> {{customer.amcDate}}<br/>
                    <b>amcRenewed:</b> {{customer.amcRenewed}}<br/><br/>
                    <!-- <b>Total: </b> {{customer.total}} -->
                  </div>
                </ng-template>
                <button type="button" class="btn btn-outline-primary" [ngbPopover]="popContent" placement="left">
                  <div class="ml-2">Details</div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="View Insured Customers">
      <ng-template ngbTabContent>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Notifications</ng-template>
      <ng-template ngbTabContent>
          Notifications under construction!!
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
