<div style=" background-color:darkslategray">
  <h1 style="text-align: center; color: white;">{{ title }}!</h1>
  
  <!-- Creating tabs and table in each tab-->
  <div style="padding: 40px; background-color: whitesmoke;">
    <ngb-tabset>
        <ngb-tab title="View All Customers">
          <ng-template ngbTabContent>
            <form style="margin-left: 200px;" class="form-inline form-group mt-4" [formGroup]="form" (ngSubmit)="onSubmit(buttonType)">
              <label style ="margin-right: 10px" for="orders">Choose Filter</label>
              <select class="form-control" formControlName="orders" id="orders">
                <option *ngFor="let order of orders; let i = index" [value]="orders[i].id">
                  {{orders[i].name}}
                </option>
              </select>
              <input class="form-control" type="text" formControlName="search">
              <button style ="margin-left: 10px" class = "btn btn-primary" type="submit" (click)="onSubmit('filter')"> Submit </button>
              <button class = "btn btn-primary" type="reset" (click)="onSubmit('reset')" style = "margin-left: 10px;" > Reset </button>
            </form>
          
          <table style = "margin-top: 40px;" class="table">
            <thead class="thead-light">
              <tr>
                <th *ngFor="let column of columns" scope="col">{{column}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers" >
              <td>{{customer.name}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.dateOfWork}}</td>
              <td>{{customer.technicianName}}</td>
              <td>
                <ng-template #popContent class="ml-3">
                  <div class="m-3">
                    <b>Customer Name:</b> {{customer.name}}<br/>
                    <b>Customer Contact:</b> {{customer.phoneNumber}} <br/>
                    <b>Customer Address:</b> {{customer.address}} <br/>
                    <b>Model Name:</b> {{customer.modelName}} <br/>
                    <b>Date of work:</b> {{customer.dateOfWork}} <br/>
                    <b>Technician Name:</b> {{customer.technicianName}} <br/>
                    <div *ngIf = "customer.partCCV > 0">
                        <b>CVV:</b> {{customer.partCCV}}<br/>
                    </div>
                    <div *ngIf = "customer.partSedimentalfilter > 0">
                        <b>Sedimentalfilter:</b> {{customer.partSedimentalfilter}}<br/>
                    </div>
                    <div *ngIf = "customer.partCarbonfilter > 0">
                        <b>Carbonfilter:</b> {{customer.partCarbonfilter}}<br/>
                    </div>
                    <div *ngIf = "customer.partROMembrane > 0">
                        <b>ROMembrane:</b> {{customer.partROMembrane}}<br/>
                    </div>
                    <div *ngIf = "customer.partMultilayer > 0">
                        <b>Multilayer:</b> {{customer.partMultilayer}}<br/>
                    </div>
                    <div *ngIf = "customer.partPPSpun > 0">
                        <b>PPSpun </b>: {{customer.partPPSpun}}<br/>
                    </div>
                    <div *ngIf = "customer.partPump > 0">
                        <b>Pump:</b> {{customer.partPump}}<br/>
                    </div>
                    <div *ngIf = "customer.partSV > 0">
                        <b>SV:</b> {{customer.partSV}}<br/>
                    </div>
                    <div *ngIf = "customer.partSMPS > 0">
                        <b>SMPS:</b> {{customer.partSMPS}}<br/>
                    </div>
                    <div *ngIf = "customer.partVVLamp > 0">
                        <b>VVLamp:</b> {{customer.partVVLamp}}<br/>
                    </div>
                    <div *ngIf = "customer.partService > 0">
                        <b>Service:</b> {{customer.partService}}<br/>
                    </div>
                    <b>isAmc:</b> {{customer.isAmc}}<br/>
                    <b>amcDate:</b> {{customer.amcDate}}<br/>
                    <b>amcRenewed:</b> {{customer.amcRenewed}}<br/><br/>
                  </div>
                  </ng-template>
                  <button type="button" class="btn btn-outline-primary" [ngbPopover]="popContent" placement="left">
                    <div class="ml-2">Details</div>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
          
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
              <option [ngValue]="5">5 items per page</option>
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="15">15 items per page</option>
            </select>
          </div>

          <button class="mr-2 btn-primary" (click)="toggleButton()">New Record</button>
          <div style="width: 1000px;" *ngIf="addButton">
            <form [formGroup]="addNewForm" (ngSubmit)="addNewRecord()">
              <label><b>Customer Information</b></label>
              <div class="row">
                <div class="form-group">
                  <input formControlName="customerName" type="text" class="ml-3 d-inline" placeholder="Customer Name">
                </div>
                <div class="form-group">
                  <input formControlName="phoneNumber" type="text" class="ml-3 d-inline" placeholder="Phone Number">
                </div>
                <div class="form-group">
                  <input formControlName="address" type="text" class="ml-3 d-inline" placeholder="Address">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <input formControlName="modelName" type="text" class="ml-3 d-inline" placeholder="Model Name">
                </div>
                <div class="form-group">
                  <input formControlName="dateOfWork" type="text" ngbDatepicker #d="ngbDatepicker" class="ml-3 d-inline" placeholder="Date Of Work">
                </div>
                <div class="form-group">
                  <input formControlName="monthOfWork" type="text" class="ml-3 d-inline" placeholder="Month Of Work">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <input formControlName="technicianName" type="text" class="ml-3 d-inline" placeholder="Technician Name">
                </div>
              </div>
              <label><b>Parts Information</b></label>
              <div class="row">
                <div class="form-group">
                  <input formControlName="ccv" type="text" class="ml-3 d-inline" placeholder="CCV">
                </div>
                <div class="form-group">
                  <input formControlName="sedimentalFilter" type="text" class="ml-3 d-inline" placeholder="Sedimental Filter">
                </div>
                <div class="form-group">
                  <input formControlName="carbonFilter" type="text" class="ml-3 d-inline" placeholder="Carbon Filter">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <input formControlName="roMembrane" type="text" class="ml-3 d-inline" placeholder="RO Membrane">
                </div>
                <div class="form-group">
                  <input formControlName="multilayer" type="text" class="ml-3 d-inline" placeholder="Multilayer">
                </div>
                <div class="form-group">
                  <input formControlName="ppSpun" type="text" class="ml-3 d-inline" placeholder="PPSpun">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                    <input formControlName="pump" type="text" class="ml-3 d-inline" placeholder="Pump">
                </div>
                <div class="form-group">
                      <input formControlName="sv" type="text" class="ml-3 d-inline" placeholder="SV">
                </div>
                <div class="form-group">
                    <input formControlName="smps" type="text" class="ml-3 d-inline" placeholder="SMPS">
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                    <input formControlName="vvLamp" type="text" class="ml-3 d-inline" placeholder="VV Lamp">
                </div>
                <div class="form-group">
                    <input formControlName="service" type="text" class="ml-3 d-inline" placeholder="Service">
                </div>
              </div>
              <label><b>Insurance Information</b></label>
              <div class="row">
                <div class="form-group">
                    <input formControlName="isAmc" type="text" class="ml-3 d-inline" placeholder="isAmc">
                </div> 
                <div class="form-group">
                    <input formControlName="amcDate" type="text" class="ml-3 d-inline" placeholder="amcDate">
                </div>              
                <div class="form-group">
                    <input formControlName="amcRenewed" type="text" class="ml-3 d-inline" placeholder="amcRenewed">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="View Insured Customers">
        <ng-template ngbTabContent>
          <form class="form-inline form-group mt-3" [formGroup]="form" (ngSubmit)="onSubmit(buttonType)">
            <label style ="margin-right: 10px" for="orders">Apply Filter</label>
            <select class="form-control" formControlName="orders" id="orders">
              <option *ngFor="let order of orders; let i = index" [value]="orders[i].id">
                {{orders[i].name}}
              </option>
            </select>
            <input class="form-control" type="text" formControlName="search">
            <button class = "btn btn-primary" type="submit" (click)="onSubmit('filter')"> Submit </button>
            <button class = "btn btn-primary" type="reset" (click)="onSubmit('reset')" style = "margin-left: 10px;" > Reset </button>
        </form>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th *ngFor="let column of columns" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of insuredCustomers" >
              <td>{{customer.name}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.dateOfWork}}</td>
              <td>{{customer.technicianName}}</td>
              <td>
                <ng-template #popContent class="ml-3">
                  <div class="m-3">
                    <b>Customer Name:</b> {{customer.name}}<br/>
                    <b>Customer Contact:</b> {{customer.phoneNumber}} <br/>
                    <b>Customer Address:</b> {{customer.address}} <br/>
                    <b>Model Name:</b> {{customer.modelName}} <br/>
                    <b>Date of work:</b> {{customer.dateOfWork}} <br/>
                    <b>Technician Name:</b> {{customer.technicianName}} <br/>
                    <div *ngIf = "customer.partCCV > 0">
                        <b>CVV:</b> {{customer.partCCV}}<br/>
                    </div>
                    <div *ngIf = "customer.partSedimentalfilter > 0">
                        <b>Sedimentalfilter:</b> {{customer.partSedimentalfilter}}<br/>
                    </div>
                    <div *ngIf = "customer.partCarbonfilter > 0">
                        <b>Carbonfilter:</b> {{customer.partCarbonfilter}}<br/>
                    </div>
                    <div *ngIf = "customer.partROMembrane > 0">
                        <b>ROMembrane:</b> {{customer.partROMembrane}}<br/>
                    </div>
                    <div *ngIf = "customer.partMultilayer > 0">
                        <b>Multilayer:</b> {{customer.partMultilayer}}<br/>
                    </div>
                    <div *ngIf = "customer.partPPSpun > 0">
                        <b>PPSpun </b>: {{customer.partPPSpun}}<br/>
                    </div>
                    <div *ngIf = "customer.partPump > 0">
                        <b>Pump:</b> {{customer.partPump}}<br/>
                    </div>
                    <div *ngIf = "customer.partSV > 0">
                        <b>SV:</b> {{customer.partSV}}<br/>
                    </div>
                    <div *ngIf = "customer.partSMPS > 0">
                        <b>SMPS:</b> {{customer.partSMPS}}<br/>
                    </div>
                    <div *ngIf = "customer.partVVLamp > 0">
                        <b>VVLamp:</b> {{customer.partVVLamp}}<br/>
                    </div>
                    <div *ngIf = "customer.partService > 0">
                        <b>Service:</b> {{customer.partService}}<br/>
                    </div>
                    <b>isAmc:</b> {{customer.isAmc}}<br/>
                    <b>amcDate:</b> {{customer.amcDate}}<br/>
                    <b>amcRenewed:</b> {{customer.amcRenewed}}<br/><br/>
                  </div>
                  </ng-template>
                  <button type="button" class="btn btn-outline-primary" [ngbPopover]="popContent" placement="left">
                    <div class="ml-2">Details</div>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>Notifications</ng-template>
        <ng-template ngbTabContent>
          <ngb-tabset>
            <ngb-tab title="6 months Insured">
              <ng-template ngbTabTitle></ng-template>
            </ngb-tab>
            <ngb-tab title="1 year Insured">
              <ng-template ngbTabTitle></ng-template>
            </ngb-tab>
          </ngb-tabset>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th *ngFor="let column of columns" scope="col">{{column}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers" >
                <td>{{customer.name}}</td>
                <td>{{customer.phoneNumber}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.dateOfWork}}</td>
                <td>{{customer.technicianName}}</td>
                <td>
                  <ng-template #popContent class="ml-3">
                    <div class="m-3">
                      <b>Customer Name:</b> {{customer.name}}<br/>
                      <b>Customer Contact:</b> {{customer.phoneNumber}} <br/>
                      <b>Customer Address:</b> {{customer.address}} <br/>
                      <b>Model Name:</b> {{customer.modelName}} <br/>
                      <b>Date of work:</b> {{customer.dateOfWork}} <br/>
                      <b>Technician Name:</b> {{customer.technicianName}} <br/>
                      <div *ngIf = "customer.partCCV > 0">
                        <b>CVV:</b> {{customer.partCCV}}<br/>
                      </div>
                      <div *ngIf = "customer.partSedimentalfilter > 0">
                          <b>Sedimentalfilter:</b> {{customer.partSedimentalfilter}}<br/>
                      </div>
                      <div *ngIf = "customer.partCarbonfilter > 0">
                          <b>Carbonfilter:</b> {{customer.partCarbonfilter}}<br/>
                      </div>
                      <div *ngIf = "customer.partROMembrane > 0">
                          <b>ROMembrane:</b> {{customer.partROMembrane}}<br/>
                      </div>
                      <div *ngIf = "customer.partMultilayer > 0">
                          <b>Multilayer:</b> {{customer.partMultilayer}}<br/>
                      </div>
                      <div *ngIf = "customer.partPPSpun > 0">
                          <b>PPSpun </b>: {{customer.partPPSpun}}<br/>
                      </div>
                    <div *ngIf = "customer.partPump > 0">
                        <b>Pump:</b> {{customer.partPump}}<br/>
                    </div>
                    <div *ngIf = "customer.partSV > 0">
                        <b>SV:</b> {{customer.partSV}}<br/>
                    </div>
                    <div *ngIf = "customer.partSMPS > 0">
                        <b>SMPS:</b> {{customer.partSMPS}}<br/>
                    </div>
                    <div *ngIf = "customer.partVVLamp > 0">
                        <b>VVLamp:</b> {{customer.partVVLamp}}<br/>
                    </div>
                    <div *ngIf = "customer.partService > 0">
                        <b>Service:</b> {{customer.partService}}<br/>
                    </div>
                    <b>isAmc:</b> {{customer.isAmc}}<br/>
                    <b>amcDate:</b> {{customer.amcDate}}<br/>
                    <b>amcRenewed:</b> {{customer.amcRenewed}}<br/><br/>
                  </div>
                </ng-template>
                <button type="button" class="btn btn-outline-primary" [ngbPopover]="popContent" placement="left">
                  <div class="ml-2">Details</div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
</div>
