<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>  
<!-- Creating tabs and table in each tab-->
<div>
  <ngb-tabset>
    <ngb-tab title="View All Customers">
      <ng-template ngbTabContent>
          <form [formGroup]="form" (ngSubmit)="submit()">
              <label for="orders">Search Filter</label>
              <select formControlName="orders" id="orders">
                <option *ngFor="let order of orders; let i = index" [value]="orders[i].id">
                  {{orders[i].name}}
                </option>
              </select>
              <input type="text" formControlName= "search">
              <button>submit</button>
          </form>

      <table class="table">
          <thead class="thead-lig  ht">
            <tr>
              <th *ngFor="let column of columns" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{customer.name}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.dateOfWork}}</td>
              <td>{{customer.technicianName}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="View Insured Customers">
      <ng-template ngbTabContent>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Notifications</ng-template>
      <ng-template ngbTabContent>
          Notifications under construction!!
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>